* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background: #7575a8;
  color: #fff;
  display: flex;
}

.hero .container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  background: #4eac62;
}
.hd {
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  position: absolute;
}
h2 {
  margin-left: 40%;
}
.hero .container .randomNum {
  background: #181831;
  padding: 20px;
  border-radius: 10px;
}

.hero .container .randomNum p span {
  color: #9cff9c;
  font-weight: 600;
}

.hero .numContainer {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  width: 100%;
}

.hero .numContainer div {
  width: 100%;
  max-width: 42%;
}

.hero .numContainer div input {
  padding: 12px;
  border: none;
  outline: none;
  width: 100%;
  background: #181831;
  color: #9cff9c;
  border-radius: 14px;
}

.hero .container button {
  align-self: flex-end;
  border: none;
  outline: none;
  background: #b91616;
  color: #fff;
  padding: 14px;
  width: 100%;
  font-size: 22px;
  cursor: pointer;
  border-radius: 12px;
}
